Dockerfile
.dockerignore
node_modules
npm-debug.log
*.md
.vscode
Documentation
TODO
.gitignore
.swc
.next
out
coverage
.git
.github
.env*
*.db
*.db-journal
/prisma/*.db
/prisma/*.db-journal
.husky
docker-compose.*.yml
jest.config.ts
.prettier*
.eslint*
.editorconfig
knip.json
LICENSE
Makefile
codespell.txt
__tests__
docker

/prompts/*.txt
!/prompts/00-*.txt

/shared/
!/shared/.gitkeep

/screenshots/
!/screenshots/idea-report-*.png
